@import url(https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800);

*{
  margin: 0;
  padding: 0;
  font-family: 'Khula', sans-serif;
}

.wrapper-div{
  width: 100%;
  height: 100vh;
  background-image: url(../App/assets/bodyBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.button-wrapper{
  width: 10%;
  display: inline-block;
  margin: 3%;
}

.active {
  background-color: #e0531e;
  border: none;
  color: #e0d1a8;
  width: 100%;
  }

  .button-inactive{
    background-color: #672807;
    border: none;
    color: #e0d1a8;
    width: 100%;
  }

  .side-bar-wrapper{
    width: 20%;
    background-color: #e6deb0;
    overflow-y: scroll;
  }

  .film-text{
    width: 97%;
    padding: 3% 1.5% 3% 1.5%;
    height: 70vh;

  }
