@import url(https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800);
* {
  margin: 0;
  padding: 0;
  font-family: 'Khula', sans-serif; }

ul {
  list-style: none;
  width: 97%;
  height: 100%;
  display: inline-block;
  position: relative; }

.main {
  height: 100%;
  width: 100%; }

.header {
  height: 5vh;
  margin: 0 0 1% 0; }

.app-wrapper-div {
  width: 100%;
  height: 100vh;
  background-image: url(../App/assets/bodyBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.button-wrapper {
  width: 12%;
  display: inline-block;
  margin: 1% 1% 0 2%;
  height: 100%;
  float: right; }

.active {
  background-color: #e0531e;
  border: none;
  color: #e0d1a8;
  width: 100%;
  height: 65%;
  font-size: 1.25em;
  margin: auto;
  padding-top: 1%; }

.button-inactive {
  background-color: #672807;
  border: none;
  color: #e0d1a8;
  width: 100%;
  height: 65%;
  font-size: 1.25em;
  margin: auto;
  padding-top: 1%; }

.button-inactive:hover {
  background-color: #e0531e; }

.side-bar-wrapper {
  width: 26%;
  background-color: #e6deb0;
  overflow-y: scroll;
  height: 87vh;
  display: inline-block;
  margin-left: 1%; }

.film-text {
  color: #504d3e;
  width: 97%;
  padding: 3% 1.5% 3% 1.5%; }

.card-container-wrapper {
  display: inline;
  height: 87vh;
  width: 70%;
  float: right;
  margin: 0 1% 0 2%; }

.card-container {
  background-color: rgba(236, 219, 175, 0.75);
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding-bottom: .5%; }

.card {
  background-color: #fff5c5;
  display: inline-block;
  display: flex;
  flex-direction: column;
  width: 46%;
  height: 27%;
  margin: 1% .5% .5% .5%; }

.label {
  color: #545040;
  font-weight: 700;
  margin: .5% 0 0 .5%;
  line-height: 1.5em;
  padding: .75% .75% .5% .75%;
  margin-left: 1.75%; }

.value {
  font-weight: 400;
  color: #545040; }

.card-name {
  margin: 1% 0 0 1.75%;
  height: 100%;
  width: 85%;
  display: inline-block;
  font-size: 24px;
  color: #672807; }

.favorite {
  background-color: #ecdbaf;
  background-image: url(../App/assets/favbutton.png);
  width: 7%;
  height: 53%;
  background-size: cover;
  position: absolute;
  top: 10%;
  right: 3%; }

.is-favorite {
  background-color: #A31621; }

.planets-residents {
  height: 38%; }

.residents-list-container, .species-list-container {
  overflow-y: auto;
  height: 75%;
  width: 75%;
  position: absolute;
  left: 26%;
  top: 0; }

.species-list-container {
  left: 20%; }

.card-title {
  height: 20%;
  width: 100%;
  position: relative; }

.card-info {
  height: 80%; }
